/* 
    TapZ Incremental
    main.css
*/

/* 
    Default Reset and sitewide styles
*/

html, body {
    width: 100vw;
    height: 100vh;
    font-family: "Acme", Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
    Modal Styles
*/

.modal {
    display: none;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
}

.modal-visible {
    display: block;
    visibility: visible;
}

/*
    Button Styles
*/

.button {
    padding: 1em 2em;
    margin: 0.5em;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: .75em;
    user-select: none;
}

.button:hover, .button:active {
    background-color: #388E3C;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

.button-left::after, .button-right::after {
    content: "";
    clear: both;
}

/* 
    Main Section Styles
*/

.game {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 1.5em;
}

.data {
    display: block;
    font-size: 1em;
    font-weight: lighter;
}

.health {
    width: 70vw;
    height: 10px;
    margin: 0 auto;
}

.healthbar {
    background-color: #EEEEEE;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.currenthealth {
    background-color: #4CAF50;
    display: block;
    width: 50%;
    height: 100%;
}

.main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.damage-indicator {
    display: block;
    position: absolute;
    user-select: none;
    font-weight: bold;
    font-size: 2em;
    transition: all .2s linear;
    z-index: 100;
}

.zombie {
    width: 500px;
    height: 433px;
    background-image: url('../img/zombie-idle.gif');
    background-position: -5px -5px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    image-rendering: high-quality;
    user-select: none;
}

.zombie-hurt {
    background-image: url('../img/zombie-hurt.gif');
}

.footer {
    width: 100%;
}