@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Acme', sans-serif;
}

@keyframes zombie-sprite {
    to { background-position: -2048px; }
}

.zombie {
    width: 512px;
    height: 512px;
    background: url("/zombie_sprites.png");
    background-size: cover;
    animation: zombie-sprite 2s steps(4) infinite;

    @apply transition-transform duration-200 ease-in-out;
    @apply scale-50 md:scale-[.65] lg:scale-90;
}

@keyframes damage-indicator {
    from {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    to {
        transform: translate(10vw, -25vh) scale(0.25);
        opacity: 0;
    }
}

.damage-indicator {
    @apply text-gray-100;
    @apply block fixed select-none font-bold text-4xl;
    @apply transition-all duration-500 ease-in-out;

    filter: drop-shadow(-0.5px 0      0 black)
            drop-shadow(.5px   0      0 black)
            drop-shadow(0      -0.5px 0 black)
            drop-shadow(0      .5px   0 black);

    top: var(--y);
    left: var(--x);

    animation: damage-indicator 1s linear;
}